/*a style sheet.*/

body {
    width: 75%;
    margin: auto;
    background-color: #e7fff5;
}

h1 {
    color: #102f52;
}

#toplogo {
    display: block;
    margin: auto;
    width: 20%;
}